/* Testimonial Container */
.testimonial-container {
    background-color: var(--background-color);
    padding: 40px 20px;
    border-radius: var(--border-radius-md);
    max-width: 800px;
    margin: 40px auto;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
}

/* Heading */
.testimonial-heading {
    font-size: var(--font-size-subheading);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

/* Testimonial Card */
.testimonial-card {
    text-align: center;
    padding: 20px;
    color: var(--text-color);
}

/* Testimonial Text */
.testimonial-text {
    font-style: italic;
    margin-bottom: 10px;
    font-size: var(--font-size-base);
    line-height: 1.5;
}

/* Author */
.testimonial-author {
    font-weight: bold;
    color: var(--primary-color);
    font-size: var(--font-size-small);
}

/* Slick Carousel Customization */
.slick-prev, .slick-next {
    color: var(--primary-color);
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    color: var(--primary-color);
    font-size: 30px;
}

.slick-dots li button:before {
    color: rgba(255, 255, 255, 0.5);
}

.slick-dots li.slick-active button:before {
    color: var(--primary-color);
}

